.container {
  width: 1110px;
  margin: 0 auto;
}

.sticky {
  width:1110px;
  margin-left: -5px;
}

#header {
  height: 30px;
  background-color: transparent;
  font-size: 30px;
  line-height: 30px;
  padding: 31px 0 30px;
  border-bottom: 2px solid rgba(0, 0, 0, .08);
}

#message {
  position: absolute;
  left: -4px;
  top: -23px;
}
